.style {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.style_1 {
	LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: 'Arial-BoldMT', 'Arial', sans-serif; FONT-SIZE: 15px; FONT-WEIGHT: 700; font-stretch: normal
}
.style_2 {
	LINE-HEIGHT: 27px; FONT-STYLE: normal; FONT-FAMILY: 'ArialMT', 'Arial', sans-serif; FONT-SIZE: 20px; FONT-WEIGHT: 400; font-stretch: normal
}
.paragraph_style {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; MARGIN: 0px; LETTER-SPACING: 0px; FONT: 700 15px/20px 'Arial-BoldMT', 'Arial', sans-serif; COLOR: rgb(88,77,77); TEXT-DECORATION: none; PADDING-TOP: 0px; font-stretch: normal; opacity: 1.00
}
.paragraph_style_1 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; MARGIN: 0px; LETTER-SPACING: 0px; FONT: 400 15px/20px 'ArialMT', 'Arial', sans-serif; COLOR: rgb(88,77,77); TEXT-DECORATION: none; PADDING-TOP: 0px; font-stretch: normal; opacity: 1.00
}
.style_3 {
	LINE-HEIGHT: 20px; FONT-STYLE: italic; FONT-FAMILY: 'Arial-ItalicMT', 'Arial', sans-serif; FONT-SIZE: 15px; FONT-WEIGHT: 400; font-stretch: normal
}
.style_4 {
	LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: 'ArialMT', 'Arial', sans-serif; FONT-SIZE: 10px; VERTICAL-ALIGN: -1px; FONT-WEIGHT: 400; font-stretch: normal
}
.style_SkipStroke {
	BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 1.00
}
.style_SkipStroke_1 {
	MARGIN: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; opacity: 1.00
}
.style_5 {
	LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: 'ArialMT', 'Arial', sans-serif; FONT-SIZE: 10px; VERTICAL-ALIGN: 5px; FONT-WEIGHT: 400; font-stretch: normal
}
.paragraph_style_2 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; MARGIN: 0px; LETTER-SPACING: 0px; FONT: 400 15px/20px 'ArialMT', 'Arial', sans-serif; COLOR: rgb(88,77,77); TEXT-DECORATION: none; PADDING-TOP: 0px; font-stretch: normal; opacity: 1.00
}
.style_6 {
	LINE-HEIGHT: 20px; FONT-STYLE: italic; FONT-FAMILY: 'Arial-ItalicMT', 'Arial', sans-serif; FONT-SIZE: 10px; VERTICAL-ALIGN: -1px; FONT-WEIGHT: 400; font-stretch: normal
}
.style_7 {
	LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: 'Times-Roman', 'Times', 'Times New Roman', serif; FONT-SIZE: 15px; FONT-WEIGHT: 400; font-stretch: normal
}
.style_SkipStroke_2 {
	BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 1.00
}
.style_External_630_5101 {
	POSITION: relative
}
.Body {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; MARGIN: 0px; LETTER-SPACING: 0px; FONT: 400 15px/20px 'ArialMT', 'Arial', sans-serif; COLOR: rgb(88,77,77); TEXT-DECORATION: none; PADDING-TOP: 0px; font-stretch: normal; opacity: 1.00
}
.Heading_1 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; MARGIN: 0px; LETTER-SPACING: 0px; FONT: 400 20px/25px 'ArialMT', 'Arial', sans-serif; COLOR: rgb(88,77,77); TEXT-DECORATION: none; PADDING-TOP: 0px; font-stretch: normal; opacity: 1.00
}
.Normal {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.Normal_External_630_5101 {
	POSITION: relative
}
.Title {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; MARGIN: 0px; LETTER-SPACING: 0px; FONT: 700 36px/42px 'Arial-BoldMT', 'Arial', sans-serif; COLOR: rgb(167,167,167); TEXT-DECORATION: none; PADDING-TOP: 0px; font-stretch: normal; opacity: 1.00
}
.graphic_generic_body_textbox_style_default_SkipStroke {
	BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 1.00
}
.graphic_generic_title_textbox_style_default_SkipStroke {
	BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 1.00
}
.graphic_image_style_default_SkipStroke {
	MARGIN: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; opacity: 1.00
}
.graphic_shape_layout_style_default {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.graphic_shape_layout_style_default_External_630_49 {
	POSITION: relative
}
A {
	COLOR: rgb(88,77,77); TEXT-DECORATION: underline
}
A:visited {
	COLOR: rgb(121,121,121); TEXT-DECORATION: underline
}
A:hover {
	COLOR: rgb(0,0,0); TEXT-DECORATION: underline
}
OL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; TEXT-INDENT: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.Bullet {
	BORDER-BOTTOM-STYLE: none; TEXT-TRANSFORM: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; TEXT-DECORATION: none
}
.bumper {
	LINE-HEIGHT: 1px; FONT-SIZE: 1px
}
.tinyText {
	LINE-HEIGHT: 1px; FONT-SIZE: 1px
}
.spacer {
	LINE-HEIGHT: 1px; FONT-SIZE: 1px
}
BODY {
	-webkit-text-size-adjust: none
}
DIV {
	OVERFLOW: visible
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
.InlineBlock {
	DISPLAY: inline
}
.InlineBlock {
	DISPLAY: inline-block
}
.inline-block {
	DISPLAY: inline-block; MARGIN-BOTTOM: 0.3em; VERTICAL-ALIGN: baseline
}
.shape-with-text.inline-block {
	VERTICAL-ALIGN: bottom
}
.vertical-align-middle-middlebox {
	DISPLAY: table
}
.vertical-align-middle-innerbox {
	DISPLAY: table-cell; VERTICAL-ALIGN: middle
}
DIV.paragraph {
	POSITION: relative
}
LI.full-width {
	
}
