.inline-block {
	POSITION: relative; MARGIN-TOP: 2em; DISPLAY: inline; MARGIN-BOTTOM: -2em; VERTICAL-ALIGN: baseline; TOP: -2em
}
.vertical-align-middle-middlebox {
	POSITION: absolute; DISPLAY: block; HEIGHT: auto; TOP: 50%
}
.vertical-align-middle-innerbox {
	POSITION: relative; DISPLAY: block; TOP: -50%
}
LI.full-width {
	WIDTH: auto
}
LI DIV DIV.inline-block A IMG {
	TEXT-INDENT: 0px
}
IMG {
	-MS-INTERPOLATION-MODE: bicubic
}
